<ul id="question-prompt">
  <li>
    <input id="question_prompt" type="text" name="question[prompt]" placeholder="Give me your banana question here...">
    <input type="hidden" name="question[survey_id]" value=<%= @question.survey_id %>/>
  </li>

  <!-- <li> -->
  <!-- ICEBOX: add choice creation functionality -->
  <!-- </li> -->
  <!-- <li> -->

  </li>
</ul>
