<h3> new question </h3>
<form id="new_question" action="/questions" method="post">
  <input type="text" name="question[prompt]" placeholder="Give me your banana question here...">
  <input type="submit" value="Create Question">
</form>

