<div class="hide" id="login-popup">
	<table>
		<th>
			<h1>Log In</h1>
		</th>
	<form action="/login" method="post">
		<tr><td>
		<!-- <label for="login_username" class="label">Username</label> -->
		<input type="text" name="login[username]" placeholder="Username" />
		</td></tr>
		<tr><td>
		<!-- <label for="login_password" class="label">Password</label> -->
		<input type="password" name="login[password]" placeholder="Password" />
		</td></tr>
		<tr><td>
		<input type="submit" value="Login" />
	</td></tr>
	</form>
	</table>
</div>
