<div class="hide" id="create-popup">
	<table>
		<th>
			<h1>Create Account</h1>
		</th>
	<form action="/users" method="post">
		<tr><td>
		<!-- <label for="user_username" class="label">Username</label> -->
		<input type="text" name="user[username]" placeholder="Username" />
		</td></tr>
		<tr><td>
		<!-- <label for="user[email]" class="label">Email</label> -->
		<input type="email" name="user[email]" placeholder="E-mail" />
		</td></tr>
		<tr><td>
		<!-- <label for="user_password" class="label">Password</label> -->
		<input type="password" name="user[password]" placeholder="Password"/>
		</td></tr>
		<tr><td>
		<input type="submit" value="Sign Up" />
	</td></tr>
	</form>
	</table>
</div>
