    <ul id="user-hud">
      <% if @user %>
        <li><a href="/users/<%= @user.id %>">@<%= @user.username %></a></li>
        <li><a href="/logout">Log Out</a></li>
      <% else %>
        <li><a href="/login">Log In</a></li>
        <li><a href="/users/new" id="new-user">Sign Up</a></li>
      <% end %>
    </ul>