<body>
  <div class = "surveys">
    <h2> Ooo! Ooo! Aaa! Aaa! Hello, <%= @user.username %>!</h2>
    <% if @surveys.empty? %>

      <h2>
        You haven't created any surveys! Are you bananas?!?! <a href="/surveys/new">Create a survey!</a>
      </h2>
    <% else %>
      <h2>You've created <%=@surveys.length %> surveys! That's totally bananas!</h2>
      <ul>
      <% @surveys.each do |survey| %>
        <li>
        <a href="/surveys/<%= survey.id %>/submissions"><%= survey.title %></a>
        </li>
      <% end %>
      </ul>
      <h2><a href="/surveys/new">Create another survey!</a> Go Bananas!</h2>
    <% end %>

	</div>
</body>

